.container {
    width: 300px;
    /* height: 200px; */
    border: 2px solid;
}

.item {
    border: 2px solid;
    background-color: lightgrey;
}

@media screen and (width >=600px) {
    .container {
        display: flex;
    }
}